/* ................................Global Styles................................. */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-slider-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

body {
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* ........................................Header Style................................ */
header#main-header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(4,9,30,0.75), rgba(4,9,30,0.7)), url(../images/banner-1.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    position: relative;
}

header #logo {
    float: left;
    color: #ffd700;
}

header nav {
    position: relative;
    float: right;
    margin-top: 20px;
}

header ul {
    list-style: none;
}

header ul li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header ul li::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background-color: #ffd700;
    transition: 0.5s;
}

header ul li:hover::after {
    width: 100%;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
    /* text-transform: uppercase; */
    font-weight: 700;
}

.header-text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.header-text-box h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.header-text-box p {
    font-size: 18px;
    padding: 0 40px 30px;
}

.header-btn {
    padding: 10px 34px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ffffff;
    outline: none;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}

.header-btn:hover {
    background-color: hsl(332, 100%, 50%);
    
}

footer {
    text-align: center;
    background-color: #191970;
    color: #ffffff;
    padding:  30px;
}

/* .............................................About Page Styling............................................. */
header#child-header {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to right, rgba(4,9,30,0.75), rgba(4,9,30,0.7)), url(../images/banner-3.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    position: relative;
}

.child-header-text-box {
    color: #ffffff;
    margin: 200px auto 30px;
    text-align: center;
}

section.about {
    padding-top: 100px;
   margin-bottom: 100px;
}

.about-main-content {
    width: 55%;
    float: left;
    height: auto;
    
}

.about-main-content h1 {
    margin-bottom: 10px;
}

.about-main-content p {
    color: #555555;
}

.about-aside img {
    width: 40%;
    float: right;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}